.InitBox {
    position: relative;
    top: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ModalButtonsContainer {
    display: flex;
    justify-content: space-evenly;
}

.playerNameFields {
    display: flex;
}

@media (min-width: 600px) {
    .InitBox {
        width: 500px;
    }
}