.KeyboardContainer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.Keyboard {
    height: 25vh;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-template-rows: 4fr 4fr 4fr 4fr;
}

.Keyboard button {
    margin: 3px;
    border-radius: 3px;
    outline: none;
    background-color: #C6DABF;
    border: none;
    box-shadow: 0 2px 1px #b1ab9d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media (min-width: 500px) {
    .Keyboard{
        width: 70%;
    }
}

@media (min-width: 700px) {
    .Keyboard{
        width: 60%;
    }
}

@media (min-width: 800px) {
    .Keyboard{
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .Keyboard{
        width: 40%;
    }
}

@media (min-width: 1400px) {
    .Keyboard{
        width: 25%;
    }
}