.HoleCardButton {
    width: 25px;
    height: 25px;
    background-color: #C6DABF;
    border-radius: 50%;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 1px #F3E9D2;
}

.ActiveButton {
    color: white;
    background-color: #1A936F;
}

.HoleCardButton:hover {
    background-color: #1A936F;
    color: white;
}

.HoleCardButton p {
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 18px;
    margin: 3px;
}

@media (min-width: 660px) {
    .HoleCardButton p {
        font-weight: bold;
        font-size: 0.8rem;
        margin: 3px;
        line-height: 18px;
    }
}