.HoleCardButton {
    width: 25px;
    height: 25px;
    background-color: #C6DABF;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #788874;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 0.7rem;
}

.ActiveButton {
    color: white;
    background-color: #1A936F;
    box-shadow: none;
}

.HoleCardButton:hover {
    background-color: #1A936F;
    color: white;
}

@media (min-width: 660px) {
    .HoleCardButton {
        width: 28px;
        height: 28px;
        font-size: 0.8rem;
    }
}