.PlayerBlock {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

h4 {
    padding: 10px;
    margin: 10px;
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: red;
}