.CourseName {
    font-size: 18px;
    width: 80vw;
    text-align: center;
    margin: 10px auto;
}

.LoginWarning {
    width: 80vw;
    margin: 0 auto;
    color: red;
    font-size: 12px;
    text-align: center;
}

.SubmitScoresButton {
    position: relative;
    display: block;
    margin: 0 auto;
}