.CourseName {
    position: relative;
    top: 10px;
    font-size: 20px;
    width: 80vw;
    text-align: center;
    margin: 10px auto;
}

.LoginWarning {
    width: 80vw;
    margin: 20px auto;
    color: red;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 660px) {
    .CourseName {
        top: 40px;
        font-size: 22px;
    }
    .LoginWarning {
        margin: 20px auto;
    }
}