.Cards {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CourseName {
    position: relative;
    display: block;
    top: 50px;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
}

.LoginWarning {
    position: relative;
    display: block;
    width: 80vw;
    margin: 0 auto;
    color: red;
    font-size: 12px;
    text-align: center;
}