.holeCardButtons {
    position: relative;
    top: 50px;
    margin: auto;
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 3;
}

@media (min-width: 660px) {
    .holeCardButtons {
        width: 640px;
    }
}