.HoleCardButtons {
    margin: 15px auto;
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*For when there are weird number of holes*/
.HoleCardButtonsWeird {
    margin: 0 auto;
    width: 14rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 660px) {
    .HoleCardButtons {
        width: 640px;
    }

    .HoleCardButtonsWeird {
        width: 640px;
    }
}