.HoleCardButtons {
    position: relative;
    top: 40px;
    margin: auto;
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 3;
}

/*For when there are weird number of holes*/
.HoleCardButtonsWeird {
    position: relative;
    top: 40px;
    margin: auto;
    width: 14rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
}

@media (min-width: 660px) {
    .HoleCardButtons {
        width: 640px;
    }

    .HoleCardButtonsWeird {
        width: 640px;
    }
}