.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font: inherit;
    font-size: 1.2rem;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: rgb(228, 224, 224);
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}