.WeatherCard {
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 80vw;
    min-width: 7rem;
    background-color: #f7f9fb;
    border-radius: 6px;
    padding: 1rem 1rem;
    margin: 0.1rem 0.3rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.time {
    font-size: 1.2rem;
    color: rgb(190, 8, 8);
    font-weight: bold;
}

.characteristics {
    text-align: center;
    max-width: 60px;
    font-size: 0.8rem;
}

.CardNumData {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0;
    min-width: 4rem;
}

@media (min-width: 800px) {
    .WeatherCard {
        flex-direction: column;
    }
    
    .characteristics {
        min-height: 3rem;
    }
}