.RoundTile {
    position: relative;
    top: 50px;
    width: 86%;
    min-height: 90px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.RoundTile h2 {
    font-size: 16px;
}

.RoundTile p {
    font-size: 14px;
}

@media (min-width: 600px) {
    .RoundTile {
        width: 60%;
        padding: 10px 30px;
    }
}

@media (min-width: 1400px) {
    .RoundTile {
        width: 40%
    }
    
    .RoundTile h2 {
        font-size: 20px
    }

    .RoundTile p {
        font-size: 16px
    }
}