.WeatherCardWrapper {
    position: relative;
    top: 30px;
    width: 90%;
    height: 30vh;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.WeatherCardWrapper h1 {
    position: relative;
    display: block;
    font-size: 20px;
    width: 80vw;
    text-align: center;
    margin: 10px auto;
}

.WeatherCardWrapper label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.WeatherCards {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonsContainer {
    display: flex;
    justify-content: center;
}

.Button {
    background-color: #f7f9fb;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    min-width: 40%;
    color: #186c8b;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.ButtonActive {
    background-color: #186c8b;
    color: #FBF7EF;
    border: none;
}

@media (min-width: 800px) {
    .WeatherCards {
        flex-direction: row;
    }

    .WeatherCardWrapper h1 {
        font-size: 22px;
        margin: 30px auto;
    }
}