.TableContainer {
    position: relative;
    top: 40px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
}

.TableContainer table>:nth-child(2) {
    background-color: #eee4d0;
}

.TableContainer tr>td:first-child {
    background-color: #eee4d0;
    font-weight: bold;
    min-width: 60px;
}

.MobileTableContainer {
    
}

.MobileTableUpperHalf {
    margin: 5px 0;
}

.MobileTableLowerHalf {
    margin: 5px 0;
    
}

.MobileTableLowerHalf tr>td:last-child {
    font-weight: bold;
    background-color: #eee4d0;
}

th, td {
    border: 1px solid #a3987f;
    min-width: 20px;
    padding: 3px 2px ;
}

.TableContainer th {
    background-color: #C6DABF;
}
