.TableContainer {
    position: relative;
    top: 40px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.TableContainer table {
    border-collapse: collapse;
}

.TableContainer table>:first-child {
    background-color: #C6DABF;
}

.TableContainer tr>td:first-child {
    color: black;
    font-weight: bold;
    min-width: 90px;
}

.MobileTable table {
    margin: 20px auto;
}

.ScoreTable {
    margin: 20px auto;
}

.ScoreTable tr>:last-child {
    font-weight: bold;
    border-width: 2px;
    border-left: solid 1px #92bece;
    text-align: right;
}

.TableContainer table>:nth-child(2) {
    background-color: #f0e8d6;
    font-weight: normal !important;
}

.TableContainer th, td {
    border: none;
    min-width: 20px;
    padding: 3px 2px;
}

.MobileFinalScoreTable tr>:first-child {
    border: none;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid #C6DABF
}

.MobileFinalScoreTable tr td:last-child {
    font-weight: bold;
    border-bottom: 1px solid #C6DABF;
}

@media (min-width: 630px) {
    .TableContainer {
        box-shadow: 0 2px 3px #ccc;
        border: 1px solid #eee;
        font-size: 1em;
    }

    .TableContainer tr>td:first-child {
        min-width: 110px;
    }
}

@media (min-width: 1000px) {
    .TableContainer {
        font-size: 1.2em;
    }

    .TableContainer tr>td:first-child {
        min-width: 140px;
    }

    .TableContainer th, td {
        min-width: 30px;
        padding: 4px 3px;
    }
}
