.TableContainer {
    position: relative;
    top: 40px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.TableContainer table {
    border-collapse: collapse;
}

.TableContainer table>:first-child {
    background-color: #C6DABF;
}

.TableContainer tr>td:first-child {
    color: black;
    font-weight: bold;
    min-width: 90px;
}

.MobileTable {
    margin: 20px 5px;
}

.ScoreTable {
    margin: 20px 5px;
}

.MobileTableUpperHalf {
    margin: 5px 0;
}

.MobileTableLowerHalf {
    margin: 5px 0;
    
}

.ScoreTable tr>:last-child {
    font-weight: bold;
    border-width: 2px;
    border-left: solid 1px #92bece;
}

.TableContainer table>:nth-child(2) {
    background-color: #f0e8d6;
    border-bottom: solid 1px #92bece;
    font-weight: normal !important;
}

.TableContainer th, td {
    border: none;
    min-width: 20px;
    padding: 3px 2px;
}

.MobileFinalScoreTable {
    border: none;
    background-color: white;
}