.CourseChoose {
    margin: 100px auto 10px auto;
    width: 85%;
    max-width: 650px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px 15px;
    box-sizing: border-box;
}

.CourseChoose h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.CourseChoose label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.CourseChoose input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
    background-color: rgb(226, 224, 224);
}

.SuggestionBoxContainer {
    position: relative;
    width: 100%

}

.ButtonsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 30px 0 15px 0;
}

.ButtonsContainer button {
    margin: 10px;
    padding: 10px;
    width: 45%;
}

.AutoCompleteBox {
    width: 100%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid #ccc;
    padding: 0;
    margin: 2px 0;
    box-sizing: border-box;
    text-align: left;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.SelectCourseMessage {
    color: red;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 250px;
}

.UnfinishedRoundContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding-top: 15px;
    justify-content: center;
}

.UnfinishedRoundText {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin: 5px;
}

.UnfinishedRoundButton {
    font-size: 16px;
    color: red;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.AutoCompleteBox li {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    color: black;
    font-weight: normal;
    cursor: pointer;
    padding: 5px 3px;
}

.AutoCompleteBox li:hover {
    background-color: #6d817a;
    color: white;
}

@media(min-width: 600px) {
    .CourseChoose {
        width: 60%;
    }

    .CourseChoose h1 {
        font-size: 22px;
    }

    .ButtonsContainer {
        justify-content: space-around;
    }

    .ButtonsContainer button {
        width: 35%;
    }
    
    .AutoCompleteBox li {
        font-size: 20px
    }
}

@media(min-width: 1000px) {
    .CourseChoose {
        width: 600px;
    }

    .AutoCompleteBox li {
        font-size: 20px
    }

    input {
        font-size: 20px;
    }

    .ButtonsContainer {
        font-size: 20px;
    }
}