.Button {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px #ccc;
    border: 2px solid #166b4d;
    color: white;
    background-color: #166b4d;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 15px;
    margin: 10px;
    font-weight: bold;
}

.Button:focus {
    box-shadow: none;  
}

.Button:disabled {
    color: #ccc !important;
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid #ccc;
    background-color: white;
    
}

.Success {
    color: white;
}

.Success:hover {
    color: #166b4d;
    background-color: white;
}

.Danger {
    background-color: #A26967;
    border-color: #A26967;
}

.Danger:hover {
    background-color: white;
    color: #A26967;
}

.CenteredButton {
    display: block;
    width: auto;
    margin: 0 auto;
}