.CourseChoose {
    position: relative;
    top: 40px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: #ccc;
}

.AutoCompleteBox {
    width: 60%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid black;
    margin: 5px 0;
}

ul {
    padding: 0;
    list-style: none;
}

.AutoCompleteBox li {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    margin: 0;
    color: black;
    font-weight: normal;
    cursor: pointer;
    padding: 3px;
}

.AutoCompleteBox li:hover {
    background-color: rgba(13, 61, 33, 0.2)
}