.CourseChoose {
    position: relative;
    top: 40px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: #ccc;
}

.SuggestionBoxContainer {
    position: relative;
    width: 100%

}

.AutoCompleteBox {
    width: 100%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid #ccc;
    padding: 0;
    margin: 2px 0;
    box-sizing: border-box;
    text-align: left;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.unfinishedRoundContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    top: 30px;
    margin: 0 auto;
    justify-content: center;
}

.UnfinishedRoundText {
    display: block;
    text-align: center;
}

.UnfinishedRoundButton {
    position: relative;
    font-size: 16px;
    color: red;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.AutoCompleteBox li {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    color: black;
    font-weight: normal;
    cursor: pointer;
    padding: 5px 3px;
}

.AutoCompleteBox li:hover {
    background-color: #99e6c8;
    color: white;
}

@media(min-width: 500px) {
    .CourseChoose {
        width: 50%;
    }
    .AutoCompleteBox li {
        font-size: 20px
    }
}