.scoreCard {
    position: relative;
    top: 15px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}
.playerElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 {
    display: inline;
}

h4 {
    display: inline;
}

.cardTitle {
    margin: 10px 0;
    text-align: center;
}

@media (min-width: 600px) {
    .scoreCard {
        width: 500px;
    }
}