.scoreCard {
    margin: 15px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #F3E9D2;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}
.playerElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.scoreCard h4 {
    display: inline;
    margin: 0;
    padding: 0;
}

.Divider {
    background-color: #F3E9D2;
    height: 2px;
    margin-bottom: 10px;
}

.cardTitle {
    margin: 10px 0;
    text-align: center;
}

@media (min-width: 600px) {
    .scoreCard {
        width: 500px;
    }
}