.scoreCard {
    margin: 15px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #F3E9D2;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}
.playerElements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.scoreCard h2 {
    font-size: 18px;
    margin: 10px;
    padding: 0;
}

.scoreCard span {
    font-weight: normal;
    font-size: 16px;
}

.Divider {
    height: 2px;
    background-color: #c2c7bf;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .scoreCard {
        width: 500px;
    }
}